In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['Linha' + str(i) for i in range(5)]

In [6]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [7]:
s = pd.Series(data = data, index = index)

In [8]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [9]:
data = {'Linha'+str(i): i + 1 for i in range(5)}

In [10]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [11]:
s = pd.Series(data)

In [12]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [13]:
s1 = s + 2

In [14]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [15]:
s2 = s + s1

In [16]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

In [17]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [18]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [19]:
df.T

   C1 C2
L1  A  C
L2  B  D

In [20]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [21]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4

In [22]:
a = list(range(10))

In [23]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
a[:-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
a[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [26]:
a[:-1:-1]

[]

## DataFrame

In [27]:
data = [[1,2,3], [4,5,6], [7,8,9]]

In [28]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
df1 = pd.DataFrame(data)

In [30]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [33]:
index = ['Linha' + str(i) for i in range(3)]

In [34]:
index

['Linha0', 'Linha1', 'Linha2']

In [35]:
df1 = pd.DataFrame(data, index = index)

In [36]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [37]:
columns = ['Coluna'+str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [38]:
df1 = pd.DataFrame(data, index = index, columns = columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [39]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [40]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [41]:
data = [(1,2,3), (4,5,6), (7,8,9)]

In [42]:
df3 = pd.DataFrame(data, index = index, columns = columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [43]:
df1[df1 >0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [44]:
df2[df2 >0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [45]:
df3[df3 >0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [46]:
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [47]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C