In [1]:
import pandas as pd

In [2]:
data = [0.5, None, None, 0.52, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

In [3]:
s

0    0.50
1     NaN
2     NaN
3    0.52
4     NaN
5     NaN
6    0.59
7    0.60
8     NaN
9    0.70
dtype: float64

In [4]:
s.fillna(0)

0    0.50
1    0.00
2    0.00
3    0.52
4    0.00
5    0.00
6    0.59
7    0.60
8    0.00
9    0.70
dtype: float64

In [5]:
# pega o anterior e preenche no lugar do none
s.fillna(method = 'ffill')

0    0.50
1    0.50
2    0.50
3    0.52
4    0.52
5    0.52
6    0.59
7    0.60
8    0.60
9    0.70
dtype: float64

In [6]:
# mesmo do ffill porém começando de baixo (bottom) para cima
s.fillna(method = 'bfill')

0    0.50
1    0.52
2    0.52
3    0.52
4    0.59
5    0.59
6    0.59
7    0.60
8    0.70
9    0.70
dtype: float64

In [7]:
# preenchendo com a média
s.fillna(s.mean())

0    0.500
1    0.582
2    0.582
3    0.520
4    0.582
5    0.582
6    0.590
7    0.600
8    0.582
9    0.700
dtype: float64

In [8]:
s

0    0.50
1     NaN
2     NaN
3    0.52
4     NaN
5     NaN
6    0.59
7    0.60
8     NaN
9    0.70
dtype: float64

In [10]:
# faz o ffill apenas uma única vez
s.fillna(method = 'ffill', limit = 1)

0    0.50
1    0.50
2     NaN
3    0.52
4    0.52
5     NaN
6    0.59
7    0.60
8    0.60
9    0.70
dtype: float64

In [11]:
s1 = s.fillna(method = 'ffill', limit = 1)

In [12]:
s1

0    0.50
1    0.50
2     NaN
3    0.52
4    0.52
5     NaN
6    0.59
7    0.60
8    0.60
9    0.70
dtype: float64

In [15]:
s2 = s1.fillna(method = 'bfill', limit = 1)

In [16]:
s2

0    0.50
1    0.50
2    0.52
3    0.52
4    0.52
5    0.59
6    0.59
7    0.60
8    0.60
9    0.70
dtype: float64

In [17]:
atletas = pd.DataFrame([['Marcos', 9.62], ['Pedro', None], ['João', 9.69], 
                        ['Beto', 9.72], ['Sandro', None], ['Denis', 9.69], 
                        ['Ary', None], ['Carlos', 9.74]], 
                        columns = ['Corredor', 'Melhor Tempo'])
atletas

  Corredor  Melhor Tempo
0   Marcos          9.62
1    Pedro           NaN
2     João          9.69
3     Beto          9.72
4   Sandro           NaN
5    Denis          9.69
6      Ary           NaN
7   Carlos          9.74

In [18]:
atletas.fillna(atletas.mean())

  Corredor  Melhor Tempo
0   Marcos         9.620
1    Pedro         9.692
2     João         9.690
3     Beto         9.720
4   Sandro         9.692
5    Denis         9.690
6      Ary         9.692
7   Carlos         9.740

In [19]:
atletas

  Corredor  Melhor Tempo
0   Marcos          9.62
1    Pedro           NaN
2     João          9.69
3     Beto          9.72
4   Sandro           NaN
5    Denis          9.69
6      Ary           NaN
7   Carlos          9.74

In [20]:
atletas.fillna(atletas.mean(), inplace = True)

In [21]:
atletas

  Corredor  Melhor Tempo
0   Marcos         9.620
1    Pedro         9.692
2     João         9.690
3     Beto         9.720
4   Sandro         9.692
5    Denis         9.690
6      Ary         9.692
7   Carlos         9.740